<div class="body-wrapper">
    <div class="logo_container"><img src="assets/curvey-logo.png" alt="curvey logo" style="width: 30%;"></div>
    <div class="center_content">
    <h1>The answer to your questions!</h1>
    <p style="margin-bottom: 50px;">Curvey is a Angular based Web-Application developed by Centennial College students that allows anyone to create their own surveys and have controll over their answers. This powerful tool delivers a complete survey and user management system along with a high level encryption algorithm protecting your data.</p>
    <h2 style="margin-bottom: 30px;">Get to know our team:</h2>
    <div class="team_container">
        <img src="assets/alfredo.jpg" alt="Alfredo Vieira Neto" class="team_img">
        <h4 class="team_title">Project Manager</h4>
        <p class="team_text">Alfredo Vieira Neto</p>
    </div>
    <div class="team_container">
        <img src="assets/devansh.jpg" alt="Devansh Shah" class="team_img">
        <h4 class="team_title">Front-End Developer</h4>
        <p class="team_text">Devansh Shah</p>
    </div>
    <div class="team_container">
        <img src="assets/ibrahim.jpg" alt="Ibrahim Goddi" class="team_img">
        <h4 class="team_title">Security Developer</h4>
        <p class="team_text">Ibrahim Goddi</p>
    </div>
    <div class="team_container">
        <img src="assets/jean.jpg" alt="Jean Mello de Freitas" class="team_img">
        <h4 class="team_title">Web Designer</h4>
        <p class="team_text">Jean Mello de Freitas</p>
    </div>
    <div class="team_container">
        <img src="assets/rashedul.jpg" alt="MD Rashedul Islam" class="team_img">
        <h4 class="team_title">Back-End Developer</h4>
        <p class="team_text">MD Rashedul Islam</p>
    </div>
    <div class="team_container">
        <img src="assets/veysel.jpg" alt="Veysel Boybay" class="team_img">
        <h4 class="team_title">Technical Artis</h4>
        <p class="team_text">Veysel Boybay</p>
    </div>
</div>
</div>